# Introduction to R

In this introductory tutorial, we will explore some R basics. Topics include basic arithmetic,
variables, data types, vectors, matrices, factors, data frames, lists, and stats examples. Getting help is simple, use the help command. For example to get help on the objects command:

In [2]:
help(objects)

Examples for a command can be run by using the example command:

In [5]:
example(assign)

assign> for(i in 1:6) { #-- Create objects  'r.1', 'r.2', ... 'r.6' --
assign+     nam <- paste("r", i, sep = ".")
assign+     assign(nam, 1:i)
assign+ }

assign> ls(pattern = "^r..$")
[1] "r.1" "r.2" "r.3" "r.4" "r.5" "r.6"

assign> ##-- Global assignment within a function:
assign> myf <- function(x) {
assign+     innerf <- function(x) assign("Global.res", x^2, envir = .GlobalEnv)
assign+     innerf(x+1)
assign+ }

assign> myf(3)

assign> Global.res # 16
[1] 16

assign> a <- 1:4

assign> assign("a[1]", 2)

assign> a[1] == 2          # FALSE
[1] FALSE

assign> get("a[1]") == 2   # TRUE
[1] TRUE

### Vectors and Vector arithmetic

Vectors are the simplest R data structures. Examples of vector assignment:

In [6]:
x1 <- c(1,5,4)

In [7]:
x1

[1] 1 5 4

In [8]:
assign("x2",c(2,1,-1,4,5))

In [9]:
x2

[1]  2  1 -1  4  5

In [10]:
c(4,4,1,2) -> x3

In [11]:
x3

[1] 4 4 1 2

In [23]:
seq(-1, 5, by=.5) -> seq1

In [24]:
seq1

 [1] -1.0 -0.5  0.0  0.5  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0

Arithmetic operators include +, -, /, *, and ^ for power. The operations are done element by element. For example:

In [14]:
y1=4*x1+x1^2

In [15]:
y1

[1]  5 45 32

What happens if we do operations with vectors of varying length?

In [16]:
y2=x1+2*x3

Warning message in x1 + 2 * x3:
“longitud de objeto mayor no es múltiplo de la longitud de uno menor”

In [17]:
y2

[1]  9 13  6  5

As you can see the shorter vector is recycled (as often as needed). Other common operations include log, exp, sin, cos, tan, sqrt. Basic statistical functions include mean(x) and var(x)

In [18]:
max(y2)

[1] 13

In [19]:
min(y2)

[1] 5

In [20]:
mean(y2)

[1] 8.25

In [21]:
var(y2)

[1] 12.91667

In [22]:
sum((y2-mean(y2))^2)/(length(y2)-1)

[1] 12.91667